<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emerald Banking System</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="background-blue">
            <img src="/images/background1.svg" alt="blue background">
        </div>
        <div class="logo">
            <img src="images/logo.png" alt="emerald logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/transactions">Transactions</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <section class="main-content">
            <h5>Welcome</h5>
            <h1>Emerald Banking System</h1>
            <p>To view all transactions click in Transactions.<br>To start a new transaction click in Customers.</p>
            <div class="div-buttons">
                <a href="/customers" class="buttons">Customers</a>
                <a href="/transactions" class="buttons">Transactions</a>
            </div>
        </section>
        <aside>
            <div class='border'></div>
            <div class="main-img">
                <img src="/images/group.jpg" alt="group of people">
            </div>
            <div class="main-img2">
                <img src="/images/money.svg" alt="money notes">
            </div>
            <div class="main-img3">
                <img src="/images/report.svg" alt="report image">
            </div>
        </aside>
    </main>
    <footer>
        <div class="logo">
            <img src="/images/logo.png" alt="emerald logo">
        </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/transactions">Transactions</a></li>
            </ul>
    </footer>
    <script src="/scripts/main.js"></script>
</body>
</html>